{% extends 'backend.html.twig' %}

{% block body %}
<div class="container">
    <legend>Batería a Eliminar:</legend>
    <table>
        <tbody>
            <tr>
                <th>Numero: </th>
                <td>{{ baterium.numero }}</td>
            </tr>
            <tr>
                <th>Energia: </th>
                <td>{{ baterium.energia }}</td>
            </tr>
            <tr>
                <th>Temperatura: </th>
                <td>{{ baterium.temperatura }}</td>
            </tr>
            <tr>
                <th>Coordenada: </th>
                <td>{{ baterium.coordenada }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <legend></legend>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
        <br>
        <li>
            <a class="btn btn-info" href="{{ path('bateria_index') }}">Volver al listado</a>
        </li>
    </ul>
</div>
{% endblock %}
