{% extends 'backend.html.twig' %}

{% block body %}
    <legend>Listado de Centros de Almacenamiento</legend>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Energia</th>
                <th>Coordenada</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centroAlmacenamiento in centroAlmacenamientos %}
            <tr>
                <td>{{ centroAlmacenamiento.numero }}</td>
                <td>{{ centroAlmacenamiento.energia }}</td>
                <td>{{ centroAlmacenamiento.coordenada }}</td>
                <td>
                    <a class="glyphicon glyphicon-eye-open" alt="Ver" title="Ver más" href="{{ path('centroalmacenamiento_show', { 'id': centroAlmacenamiento.id }) }}"></a>
                    |
                    <a class="glyphicon glyphicon-pencil" alt="Editar" title="Editar" href="{{ path('centroalmacenamiento_edit', { 'id': centroAlmacenamiento.id }) }}"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('centroalmacenamiento_new') }}">Crear un nuevo Centro</a>
        </li>
    </ul>
{% endblock %}
