{% extends 'backend.html.twig' %}

{% block body %}
<div class="container">
    <legend>Centro de Alm. a Eliminar:</legend>
    <table>
        <tbody>
            <tr>
                <th>Numero: </th>
                <td>{{ centroAlmacenamiento.numero }}</td>
            </tr>
            <tr>
                <th>Energia: </th>
                <td>{{ centroAlmacenamiento.energia }}</td>
            </tr>
            <tr>
                <th>Coordenada: </th>
                <td>{{ centroAlmacenamiento.coordenada }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <legend></legend>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
        <br>
        <li>
            <a class="btn btn-info" href="{{ path('centroalmacenamiento_index') }}">Volver al listado</a>
        </li>
    </ul>
</div>
{% endblock %}
