{% extends 'backend.html.twig' %}

{% block body %}
    <h1>CentroAlmacenamiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centroAlmacenamiento.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ centroAlmacenamiento.numero }}</td>
            </tr>
            <tr>
                <th>Energia</th>
                <td>{{ centroAlmacenamiento.energia }}</td>
            </tr>
            <tr>
                <th>Coordenada</th>
                <td>{{ centroAlmacenamiento.coordenada }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('centroalmacenamiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('centroalmacenamiento_edit', { 'id': centroAlmacenamiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
