{% extends 'backend.html.twig' %}

{% block body %}
<div class="container">
    <legend>Supervisor a Eliminar:</legend>
    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ usuario.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Tipo_usuario</th>
                <td>{% if usuario.tipousuario %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <legend></legend>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
        <br>
        <li>
            <a class="btn btn-info" href="{{ path('usuario_index') }}">Volver al listado</a>
        </li>
    </ul>
{% endblock %}
