{% extends 'backend.html.twig' %}

{% block body %}
<div class="container">
    <legend>Terminal a Eliminar:</legend>
    <table>
        <tbody>
            <tr>
                <th>Numero: </th>
                <td>{{ terminal.numero }}</td>
            </tr>
            <tr>
                <th>Estado: </th>
                <td>{{ terminal.estado }}</td>
            </tr>
            <tr>
                <th>Coordenada: </th>
                <td>{{ terminal.coordenada }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <legend></legend>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
        <br>
        <li>
            <a class="btn btn-info" href="{{ path('terminal_index') }}">Volver al listado</a>
        </li>
    </ul>
{% endblock %}
